@import "./breakpoints.scss";
@import "./colors.scss";
@import "./mixins.scss";

body {
  background-color: $off-light;

  @media only screen and (max-width: $layout-breakpoint-small) {
    background-color: $light;
  }
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 24px;

  @media only screen and (max-width: $layout-breakpoint-small) {
    padding-top: 0;
    font-size: 0.8rem;
  }
}

.content-container {
  align-items: center;
  background-color: $light;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 42px 84px;
  padding: 64px 42px 72px;
  text-align: center;
  width: 100%;

  @media only screen and (max-width: $layout-breakpoint-small) {
    align-items: stretch;
    margin: 42px 0;
    min-width: 0;
    padding: 42px 32px;
    width: 100%;
  }

  @media only screen and (max-width: $layout-breakpoint-extra-small) {
    padding: 42px 16px;
  }

  button {
    @include buttonStyle();
    margin-top: 16px;
  }
}

.mobile-slim-container {
  @media only screen and (max-width: $layout-breakpoint-small) {
    align-items: center;
    margin: 0;
    min-width: 0;
  }

  @media only screen and (max-width: $layout-breakpoint-extra-small) {
    padding: 0 16px;
  }
}
